@model CoreApp.Controllers.Class1

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Güncelleme</h1>

<form method="post">
    <label>Numara</label>
    @Html.TextBoxFor(x=>x.EmployeeID, new{@class="form-control" })
    <br />
    <label>Adı Soyadı</label>
    @Html.TextBoxFor(x=>x.EmployeeName, new {@class="form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>