<div class="tech-btm">
    
    <form method="post">
        <input type="email" placeholder="E Posta" required="" name="Mail" id="gondermail">
        <input type="submit" value="Abone Ol" id="btnGonder">
    </form>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(function () {
        $("#btnGonder").click(function () {
            var email = $("#gondermail").val();
            $.ajax({
                url: '/NewsLetter/SubscribeMail/',
                type: 'POST',
                dataType: 'html',
                success: function (data) {
                    
                }
            });
        });
    });
</script>