<div class="tech-btm">

    <form>
        <input type="email" placeholder="E Posta" required="" name="Mail" id="txtaddmail">
        <input type="submit" value="Abone Ol" id="btnsend">
    </form>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    $(function () {
        $("#btnsend").click(function () {
            var veri = { Mail: $("#txtaddmail").val() };

            $.ajax({
                type: 'post',
                url: '/NewsLetter/SubscribeMail/',
                dataType: 'json',
                data: veri,
                success: function (data) {
                    alert("Mail üyeliğiniz alınmıştır")
                }
            });
        });
    });

</script>