<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Bültenimize Abone Olun</h4>
    <form action="#" method="post">
        <input type="email" placeholder="E Posta" required="">
        <input type="submit" value="Gönder">
    </form>

</div>