<div class="comment-top">
    <h4>Bir yorum bırakın</h4>
    <h1>@ViewBag.deger</h1>
    <div class="comment-bottom">
        <form>
            @ViewBag.deger
            <input id="txtname" class="form-control" type="text" name="CommentUserName" placeholder="Kullanıcı Adınız" required="">
            <input id="txteposta" class="form-control" type="email" name="CommentTitle" placeholder="E Posta Adresiniz" required="">

            <textarea id="txtyorum" class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button id="send" type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    $("#send").click(function () {
        let veri = {
            CommentUserName: $("#txtname").val(),
            CommentTitle: $("#txteposta").val(),
            CommentContent: $("#txtyorum").val()
        };

        $.ajax({
            type: 'post',
            url: '/Comment/PartialAddComment/',
            data: veri,
            success: function (func) {
                let result = jQuery.parseJSON(func);
            }
        })
    })

</script>