@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Writer/WriterLayout.cshtml";
}

<table class="table mdi-table-border">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd MMMM yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.BlogStatus)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-danger">Pasif</span>
                }
            </td>
            <td><a href="/Blog/BlogEdit/@item.BlogID" class="btn btn-primary">Düzenle</a></td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>



        </tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-success">Yeni Blog Oluştur</a>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>

@*<script>

           
    $('.btn').click(function () {
                swal({
                title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlem geri alınamaz!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
             if (willDelete) {
                 swal("Gönderiniz başarıyla silindi", {
                 icon: "success",
                    }).then(okay => {
                        if (okay) {
                            window.location.href = "/Blog/DeleteBlog/@item.BlogID";
                        }
                    });
            } else {
                swal("Your imaginary file is safe!");
            }
        });
    });
</script>*@

